
<head>
    <style>
        table{
           border: 1px solid grey;
           padding: 3px;
        }
    </style>
    <meta charset="UTF-8">

    {% block header %}
    {% include "base.html"  %}
    {% endblock %}
    <title>Test Time Statistics</title>
    <br>

    <script type="text/javascript">
      google.charts.load("current", {packages:["timeline", "corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);
      function drawChart() {
        var status_entries = {{status|safe}};

        var container = document.getElementById('example3.1');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Tester' });
        dataTable.addColumn({ type: 'string', id: 'Status' });
        dataTable.addColumn({ type: 'string', id: 'Style', role: 'style' });
        dataTable.addColumn({ type: 'datetime', id: 'Start' });
        dataTable.addColumn({ type: 'datetime', id: 'End' });
        var i = 0;
        console.log("Status Entries: ");
        console.log(status_entries[i]);
        for(;status_entries[i];){
            var status_entry_list = [];
            var i2 = 0;
            for (;status_entries[i][i2];){
                if (i2 == 3 || i2 == 4){
                    console.log("Found DateTime Value " + i + " " + i2);
                    console.log(status_entries[i][i2])
                    var dateStr = status_entries[i][i2]
                    var date = new Date(dateStr);
                    status_entry_list.push(date);
                }
                else{
                    status_entry_list.push(status_entries[i][i2])
                }
                i2++;

            }
            console.log("STATUS LIST");
            console.log(status_entry_list);
            dataTable.addRow(status_entry_list);
            i++;
        }

        var rowHeight = 45;
        var chartHeight = (dataTable.getDistinctValues(0).length + 1) * rowHeight;
        var date_morning = new Date();
        var date_night = new Date();
        date_morning.setHours(6);
        date_morning.setMinutes(00);
        date_night.setHours(22);
        date_night.setMinutes(00);
        console.log(date_morning + "\n" + date_night);
        var options = {
          width: 600,
          height: chartHeight,
          timeline: {groupByRowLabel: true,
                     colorByRowLabel: false,
                     barLabelStyle: {fontSize: 10},
                     rowLabelStyle: {fontSize: 10},
                    },
          avoidOverlappingGridLines: true,
          hAxis: {
            format: 'yyyy.MM.dd HH:MM:SS',
            minValue: date_morning,
            maxValue: date_night,
          },
          colors: ['red', 'green'],
        };
        chart.draw(dataTable, options);
      }

      function drawChart2() {
            var data = google.visualization.arrayToDataTable([
              ['Reason', 'Hours'],
              ['AP',10],
              ['xHDMT',6],
              ['Handler',2],
              ['TOS',1]
            ]);

            var options = {
              title: 'DOWN reasons (Dummy Data)',
              is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
            chart.draw(data, options);
      }
    </script>
</head>
<body>
 <br>
 <table>
     <tr>
         <td><div id="example3.1"></div></td>
         <td><div id="pie_chart"></div></td>
     </tr>
 </table>
<br>

     <div class="modal fade" tabindex="-1" id="myModa" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reason</h4>
              </div>
              <div class="modal-body">
                Explanation(<10 letters): <input type="text" name="usrname" maxlength="10">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <table>
        {% for loc, tester_items in testers.items %}
        <tr>
            <td>{{loc}}</td>
            {% csrf_token %}

            {%for tester_id, cells in tester_items.items%}
            <td>
                <table>
                    <tr><th colspan="3">{{tester_id}}</th></tr>
                    {%for cell in cells%}
                    <tr>
                        <td>{{cell}}</td>
                        <td>
                        <!-- Single button -->
                        <div class="btn-group">
                          <button id={{loc}}_{{tester_id}}_{{cell}} type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DOWN <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_AP" type="submit">AP</button></li>
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_Handler" type="submit">Handler</button></li>
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_TIU" type="submit">TIU</button></li>
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_iSEED" type="submit">iSEED</button></li>
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_Network" type="submit">Network</button></li>
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_TOS" type="submit">TOS</button></li>
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_xHDMT" type="submit">xHDMT</button></li>
                            <li><button class="btn btn-default btn-sm" id="down_{{loc}}_{{tester_id}}_{{cell}}_Other" type="submit">Other...</button></li>
                          </ul>
                        </div>
                        <script>
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_AP").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "AP",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("AP");
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_Handler").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "Handler",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("Handler")
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_TIU").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "TIU",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("TIU")
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_iSEED").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "iSEED",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("iSEED")
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_Network").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "Network",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("Network")
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_TOS").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "TOS",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("TOS")
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_xHDMT").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "xHDMT",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("xHDMT")
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        $("#down_{{loc}}_{{tester_id}}_{{cell}}_Other").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "Other",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("Other")
                            if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as down?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            };
                            return false;
                        } );
                        </script>
                        </td>
                        <td><button id="up_{{loc}}_{{tester_id}}_{{cell}}" type="button" class="btn btn-success"><font size="1">Up</font></button></td>
                        <script>
                            $("#up_{{loc}}_{{tester_id}}_{{cell}}").click( function() {
                            var data_post = {'loc': "{{loc}}",
                                            'tester_id': "{{tester_id}}",
                                            'cell': "{{cell}}",
                                            'reason': "",
                                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                                            };
                            console.log("Other")
                            //if (confirm("Are you sure you want mark {{loc}}{{tester_id}}:{{cell}} as UP?")){
                                $.ajax({
                                    url: "/tester_status/update/",
                                    type: "POST",
                                    data: data_post,
                                    success: function(result){
                                            window.location.reload();
                                    },
                                    error: function(jqXHR,textStatus,errorThrown ){
                                         alert('Exception:'+errorThrown );
                                    }
                                });
                            //};
                            return false;
                        } );
                        </script>
                    </tr>
                    {%endfor%}
                </table>
            </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>
</html>